extends layout

block content
  .hero-body
    .container
      .columns.is-centered
        .column.is-5-tablet.is-4-desktop.is-4-widescreen
          form.box(action="/login", method="post")
            .field
              label.label(for="") Email
              .control
                input.input(
                  type="email",
                  name="login_id",
                  placeholder="e.g. a@gmail.com",
                  required
                )
            .field
              label.label(for="") Password
              .control
                input.input(
                  type="password",
                  name="login_pass",
                  placeholder="*******",
                  required
                )
            .field
              button.button.is-success(type="submit") Login
