extends layout

block content
  .level
    .level-left
      h1.title.is-1 Semesters
    .level-right
      button.modal-button.button(
        data-target="add_semester",
        aria-haspopup="true"
      ) Add semester

  #add_semester.modal
    .modal-background
    .modal-content
      .box
        form(action="/semester", method="post")
          .field
            label.label Start Date
            .control
              input.input(type="date", name="start_date", required)
          .field
            label.label End date
            .control
              input.input(type="date", name="end_date", required)
          .field
            label.label Program
            .select
              select(name="program", required)
                option(disabled, selected, hidden) Select Program
                option(value="btech") B. Tech.
                option(value="mtech") M. Tech.
                option(value="phd") Ph.D.
          .field
            label.label Year of admission
              .control
                //- TODO: set default value to the current year
                input.input(
                  type="number",
                  name="year_of_admission",
                  required,
                  value="2021"
                )
          .field
            .control
              .buttons
                button.is-info.button(type="submit") Submit
                button.button Cancel

    button.modal-close.is-large(aria-label="close")

  .table-container
    table.table.is-striped.is-hoverable
      thead
        tr
          th
          th Start date
          th End date
          th Program
          th Year of admission
      tbody
        //- TODO: we need to align values vertically in the center
        each item in items
          tr
            //- TODO: implement these buttons
            td
              .buttons
                button.button.is-danger.is-small(title="Delete")
                  span.icon
                    img(src="img/delete_white_24dp.svg")
                button.button.is-info.is-small(title="Edit")
                  span.icon
                    img(src="img/edit_white_24dp.svg")

            td.has-text-right= item.start_date
            td.has-text-right= item.end_date
            case item.program
              when "btech"
                td B. Tech.
              when "mtech"
                td M. Tech.
              when "phd"
                td Ph.D.
              default
                td Error
            td= item.year_of_admission

  script(type="text/javascript", src="/js/modal-toggle.js")
